body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    width: 400px;
    padding: 20px;
    border: 1px solid #9333EA;
    border-radius: 10px; /* Закругленные углы формы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* добавлено для отступа между заголовком и формой */
}

label[for="username"],
label[for="email"],
label[for="password"] {
color: #9333EA;
}
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
button[type="submit"] {
    width: calc(100% - 22px); /* Ширина поля ввода с учетом внутренних отступов */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #a21caf;
    border-radius: 5px; /* Закругленные углы полей ввода */
    box-sizing: border-box;
}

input[type="password"] {
    position: relative;
}

input[type="password"] .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #9333EA;
}

button[type="submit"] {
    width: 150px;  
    max-width: 100%;  
    background-color: #9333EA;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;  
    margin-top: 10px;  
    display: block;  
    margin-left: auto; 
    margin-right: auto;  
}       

button[type="submit"]:hover {
    background-color: #0056b3;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}